# Normalisation

In [3]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [4]:
lcdci_df = pd.read_csv('lcdci_final.csv')
lcdci_df

,country,forest_area,freshwater,paris_agreement,unfccc,hdi,renewable_energy_consumption,total_greenhouse_gas_emission
0,Algeria,0.82,11.2,1.0,1993.0,0.745,0.2,2.606857e+05
1,Angola,53.43,148.0,0.0,2000.0,0.591,61.0,7.027561e+04
2,Benin,27.80,10.3,1.0,1994.0,0.504,46.2,1.501766e+04
3,Botswana,26.92,2.4,1.0,1994.0,0.708,27.2,1.216181e+04
4,Burkina Faso,22.72,12.5,1.0,1993.0,0.438,67.5,3.092565e+04
...,...,...,...,...,...,...,...,...
186,Sweden,68.69,171.0,1.0,1993.0,0.952,58.4,4.474927e+04
187,Switzerland,32.11,40.4,1.0,1993.0,0.967,26.4,4.228805e+04
188,Turkey,28.87,227.0,0.0,2004.0,0.855,13.7,4.959830e+05
189,United Kingdom of Great Britain and Northern I...,13.19,145.0,1.0,1993.0,0.940,13.5,3.867627e+05
190,United States of America,33.87,2818.0,1.0,1992.0,0.927,11.2,5.326776e+06

In [11]:
current_year = 2024
lcdci_df["unfccc"] = current_year - lcdci_df['unfccc']
lcdci_df

,country,forest_area,freshwater,paris_agreement,unfccc,hdi,renewable_energy_consumption,total_greenhouse_gas_emission
0,Algeria,0.008418,0.001978,1.0,31.0,0.745,0.002079,0.020577
1,Angola,0.548506,0.026144,0.0,24.0,0.591,0.634096,0.005546
2,Benin,0.285392,0.001819,1.0,30.0,0.504,0.480249,0.001184
3,Botswana,0.276358,0.000424,1.0,30.0,0.708,0.282744,0.000959
4,Burkina Faso,0.233241,0.002208,1.0,31.0,0.438,0.701663,0.002440
...,...,...,...,...,...,...,...,...
186,Sweden,0.705164,0.030207,1.0,31.0,0.952,0.607069,0.003531
187,Switzerland,0.329638,0.007137,1.0,31.0,0.967,0.274428,0.003337
188,Turkey,0.296376,0.040099,0.0,20.0,0.855,0.142412,0.039151
189,United Kingdom of Great Britain and Northern I...,0.135407,0.025614,1.0,31.0,0.940,0.140333,0.030529
190,United States of America,0.347706,0.497792,1.0,32.0,0.927,0.116424,0.420493

In [12]:
def min_max_normalise(df, column):
    df[column] = (df[column] - df[column].min()) / (df[column].max() - df[column].min())
    return df

In [14]:

lcdci_df = min_max_normalise(lcdci_df, 'forest_area')
lcdci_df = min_max_normalise(lcdci_df, 'freshwater')
lcdci_df = min_max_normalise(lcdci_df, 'unfccc')
lcdci_df = min_max_normalise(lcdci_df, 'renewable_energy_consumption')
lcdci_df = min_max_normalise(lcdci_df, 'total_greenhouse_gas_emission')
lcdci_df

,country,forest_area,freshwater,paris_agreement,unfccc,hdi,renewable_energy_consumption,total_greenhouse_gas_emission
0,Algeria,0.008418,0.001978,1.0,0.956522,0.745,0.002079,0.020577
1,Angola,0.548506,0.026144,0.0,0.652174,0.591,0.634096,0.005546
2,Benin,0.285392,0.001819,1.0,0.913043,0.504,0.480249,0.001184
3,Botswana,0.276358,0.000424,1.0,0.913043,0.708,0.282744,0.000959
4,Burkina Faso,0.233241,0.002208,1.0,0.956522,0.438,0.701663,0.002440
...,...,...,...,...,...,...,...,...
186,Sweden,0.705164,0.030207,1.0,0.956522,0.952,0.607069,0.003531
187,Switzerland,0.329638,0.007137,1.0,0.956522,0.967,0.274428,0.003337
188,Turkey,0.296376,0.040099,0.0,0.478261,0.855,0.142412,0.039151
189,United Kingdom of Great Britain and Northern I...,0.135407,0.025614,1.0,0.956522,0.940,0.140333,0.030529
190,United States of America,0.347706,0.497792,1.0,1.000000,0.927,0.116424,0.420493

In [15]:
lcdci_df.to_csv("lcdci_normalised.csv", index=False)